.food {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  overflow: hidden;
 
}

.croissant { 
  position: absolute;
  top: 26%;
  left: 60%;
  height: 60rem;
  width: 60rem;
  overflow: hidden;

  &__img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.brownie { 
  position: absolute;
  top: 73%;
  left: 60%;
  height: 60rem;
  width: 60rem;
  overflow: hidden;

  &__img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}