*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem=10px -> 10px / 16px = 62.5%

  // @media only screen and (max-width: $bp-largest) {
  //   font-size: 50%;
  // }
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
  
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100vh 100vh 100vh 100vh 100vh 100vh;
  background-color: rgba(235, 231, 231, 0.13);
  background-image: url("/img/whitey.png");
  
  }
  
